@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "OpenSans", "Arial", sans-serif;

    margin: 0 auto;
    padding: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    position: relative;

    height: 100vh;
    padding-bottom: 10px;

    background-image: url("../img/banner-mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.container {
    width: 100%;
    padding-top: 30px;
    padding-right: 10px;
}

.header__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.logo__img {
    margin-top: 155px;
    margin-bottom: 40px;
}

.logo__img img {
    height: 60px;
}

.menu {
    align-self: flex-end;

    position: relative;
}

.menu__burger-btn {
    width: 40px;
    height: 40px;
    border: none;
    display: block;

    position: relative;

    background-color: transparent;
    z-index: 2;

    cursor: pointer;
}

.menu__burger-btn span {
    position: absolute;
    left: 5px;

    width: 30px;
    height: 3px;

    background-color: white;

    transition: transform .5s, opacity .3s, background-color .5s;
}

.menu__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.menu__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .menu__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .menu__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .menu__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header.open .menu__burger-btn span {
    background-color: white;
}

.menu__list {
    display: block;

    position: absolute;
    top: 25%;
    right: 60%;
    transform: translateY(-400px);
}

.menu__list-item {
    margin-right: 20px;
}

.menu__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.header.open .menu__list {
    transform: translateY(0%);
}

.menu__link {
    color: #fff;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__title {
    margin: 0 auto;
    width: 85%;

    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.trends__title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    margin-top: 44px;
}

.trends__title::after {
    content: "";
    position: relative;

    display: block;

    margin: 10px auto 25px;
    width: 66px;
    height: 3px;

    background: #e1d9bd;
}

.trends__container-posts {
    position: relative;

    width: 100%;
    padding: 88px 8.3% 14px;
    margin-bottom: 3px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

.trends__container-posts::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trends__container-posts-items {
    border: 3px solid #817638;
    padding: 30px 2px 30px 20px;
}

.trends__container-posts-items-category {
    display: flex;
    flex-wrap: wrap;
}

.trends__container-posts-items-category-link a {
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;
    margin-right: 20px;
}

.trends__container-posts-items-category-link a:hover {
    text-decoration: underline;
}

.trends__container-posts-items-category-title a {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    margin-top: 15px;
}

.trendone {
    background-image: url("../img/trend1.jpg");
}

.trendtwo {
    background-image: url("../img/trend2.jpg");
}

.trendthree {
    background-image: url("../img/trend3.jpg");
}

.trendfour {
    background-image: url("../img/trend4.jpg");
}

.trends {
    margin-bottom: 45px;
}

.content {
    padding: 0 15px;
    width: 100%;
}

.main__content-posts:not(:last-child) {
    margin-bottom: 35px;
}

.main__content-posts img {
    width: 100%;
    object-fit: cover;
}

.main__content-posts-main-category-link {
    display: flex;
    margin-right: 20px;
}

.main__content-posts-main-category-link a {
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;

    margin-top: 15px;
    margin-bottom: 15px;
}

.main__content-posts-main-category-link a:hover {
    text-decoration: underline;
}

.main__content-posts-main-category-title h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 20px;

    margin-bottom: 25px;
}

.main__content-posts-main-dateauthor {
    display: flex;
}

.main__content-posts-main-date {
    margin-right: 15px;
    margin-bottom: 23px;

    font-size: 12px;
    font-weight: 400;
    color: #888888;
}

.main__content-posts-main-author {
    font-size: 12px;
    font-weight: 700;
    color: #0f0d0e;
}

.main__content-posts-main-news {
    font-size: 14px;
    font-weight: 400;

    border-bottom: 3px solid #eeeeee;
    padding-bottom: 25px;
}

.main__content-posts-main-news p {
    margin-bottom: 15px;
}

.sidebar__content-news-posts {
    display: flex;
    align-items: flex-start;
}

.sidebar__content-news-posts-img-link {
    margin-right: 20px;
}

.sidebar__content-news-posts-date {
    margin-bottom: 10px;

    font-size: 12px;
    font-weight: 400;
    color: #888888;
}

.sidebar__content-news-posts-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.search {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-button {
    border: none;
    width: 48px;

    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: #b59f5b;
    cursor: pointer;
}

.search-button:hover {
    background-color: #a28a44;
}

.form-field-all {
    padding-left: 21px;
    height: 48px;
    border: 1px solid #f4f7f6;

    font-size: 13px;

    background-color: #f4f7f6;
}

.search-field {
    width: calc(100% - 48px);
}

.search-field:focus {
    outline: none;
    border-color: #b59f5b;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);

    position: absolute;
}

.mail {
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mailing-field,
.mail-button {
    width: 100%;
}

.mailing-field:focus {
    outline: none;
    border-color: #b59f5b;
}

.mail-button {
    border: none;
    height: 48px;
    margin-top: 17px;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    background-color: #b59f5b;
    cursor: pointer;
}

.mail-button:hover {
    background-color: #a28a44;
}

.sidebar__content-news-tags {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
}

.sidebar__content-news-tags-item {
    border: 3px solid #eeeeee;
    padding: 6px 12px;
    margin: 3px;
}

.sidebar__content-news-tags-link {
    color: #0f0d0e;
}

.sidebar__content-news-tags-link:hover {
    color: #b59f5b;
}

.sidebar__themes {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__themes-item {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
}

.sidebar__themes-item:nth-child(n+2) {
    padding-top: 20px;
}

.sidebar__themes-link {
    text-decoration: none;
    color: #060606;
}

.sidebar__themes-link>span {
    padding-left: 5px;

    color: #b59f5b;
    font-size: 12px;
    font-weight: 700;
    vertical-align: super;
}

.shop__items-img {
    object-fit: cover;
    padding: 0 7% 0 4%;
    width: 100%;
}

.shop__items-img img {
    padding-right: 15px;
    padding-left: 5px;
    max-width: 285px;
    width: 100%;

}

.shop__items-description {
    position: relative;
    top: -30px;
    z-index: 2;

    border: 3px solid #d3c59d;
    padding: 30px 22px 30px 18px;
    max-width: 310px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.shop__items-description-title {
    font-size: 17px;
    font-weight: 700;
    color: #060606;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.shop__items-description-about {
    font-size: 15px;
    font-weight: 500;
    color: #060606;
    margin-bottom: 25px;
}

.shop__items-description-about-link {
    text-decoration: underline;
    color: #b59f5b;
}

.shop__items-description-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shop__items-description-product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shop__items-description-priceold {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: line-through;
}

.shop__items-description-pricecurrent {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.shop__items-description-btn {
    max-width: 140px;
    width: 100%;
    height: 50px;
    border: none;
    padding-top: 15px;

    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    background: #b59f5b;
    cursor: pointer;
}

.footer {
    max-width: 420px;
}

.footer__icon {
    background: #f4f7f6;
    margin-top: 22px;
}

.footer__icon-list {
    display: flex;
    justify-content: center;
}

.footer__icon-list-item {
    background-position: center;
    background-size: 20px;
    padding: 30px 15px;
    margin: 0 10px;
}

.footer__icon-list-link {
    display: block;
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25px;
    width: 25px;
    font-size: 0;
}

/* .hidden-icon {
	visibility: hidden;
} */

.dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.Copyright {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #999999;
    margin-top: 40px;
    margin-bottom: 45px;
}

.popup {
    position: fixed;
    top: 10%;
    left: 7%;
    right: 5%;

    max-width: 350px;
    width: 90%;

    z-index: 9;
}

.popup::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.popup__container {
    background-color: #ffffff;

    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popup-title {
    margin-top: 0;
    padding-top: 40px;
}

.popup__inner {
    display: flex;
    flex-direction: column;
}

.popup__label-imp {
    background-color: #f4f7f6;

    border: none;
    padding-left: 10px;
    padding-right: 20px;
    height: 40px;
    width: 100%;
}

.popup__label {
    display: block;

    font-family: "OpenSans", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.popup__label:not(:last-child) {
    margin-bottom: 20px;
}

.popup__label-select {
    width: 100%;
    height: 35px;
    padding-left: 20px;
    margin-top: 10px;
    border: none;
    outline: none;

    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #333333;

    background-color: aliceblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 8px 17px;
    background-position: center right 10px;

    cursor: pointer;
}

.popup__label-select:focus {
    outline: 2px solid #e1d9bd;
    outline-offset: 2px;
}

.popup__label-inner {
    font-size: 13px;
    font-weight: 400;

    margin-bottom: 20px;
}

.popup__label-radiobox {
    display: inline-block;
    margin-right: 25px;
    padding-left: 18px;
}

.popup__label-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 20px;
}

.popup__label-radio-style {
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #b59f5b;
    border-radius: 50%;
    margin-left: -18px;

    cursor: pointer;
}

.popup__label-radio:checked+.popup__label-radio-style::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;

    background-color: #b59f5b;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup__label-textarea {
    margin-top: 6px;
    width: 100%;
    height: 150px;
    padding-left: 15px;
    padding-top: 10px;
    outline: none;
    border: none;

    background-color: aliceblue;

    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #333333;
}

.popup__label-textarea:focus {
    outline: 2px solid #e1d9bd;
    outline-offset: 2px;
}

.popup-btn {
    margin-bottom: 20px;
}

.popup__close {
    display: block;
    width: 20px;
    height: 20px;
    border: none;

    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;


    position: absolute;
    top: -5%;
    left: 93%;

    cursor: pointer;
}

.popup.open {
    display: none;
}




@media (min-width: 421px) and (max-width:1199px) {
    .header {
        background-image: url("../img/banner-bg-tablet.jpg");
        background-position: bottom left;

        max-width: 100%;
        max-height: 86vh;
    }

    .container {
        max-width: 100%;
        padding: 0 34px;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }

    .logo__img {
        margin: 43px 0;
    }

    .logo__img img {
        height: 35px;
    }

    .menu {
        display: flex;
        align-items: flex-start;

        position: relative;
        top: -43px;
    }

    .header__title {
        margin-top: 2em;
        width: 90%;
        padding-bottom: 10px;

        font-size: calc(2.5vmax + 19px);
        line-height: 44px;
    }

    .content {
        padding: 0 34px;
        display: flex;
        flex-wrap: wrap;
    }

    .main__content {
        width: 51%;
        margin-right: 27px;
    }

    .trends__title {
        font-size: 1.125rem;

        margin-top: 60px;
    }

    .trends__container-posts {
        display: flex;
    }

    .trends__container-posts-items {
        flex-grow: 1;
    }

    .titletwo {
        margin-top: 0;
    }

    .sidebar {
        width: 39%;
    }

    .shop__items_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .shop__items {
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
    }

    .shop__items:nth-child(2n+1) {
        margin-right: 20px;
    }

    .shop__items-img img {
        max-width: 100%;
        padding: 0 12% 0 0;
    }

    .shop__items-description {
        width: 100%;
        max-width: 530px;
        flex-grow: 1;
    }

    .footer {
        max-width: 1199px;
        width: 100%;
        padding: 0 34px;
        margin: 0 auto;
    }

    .popup {
        top: 10%;
        left: 30%;
        right: 30%;
    }

    .popup-title {
        margin-top: 0;
        padding-top: 40px;
    }
}

@media (min-width: 421px) and (max-width: 640px) {
    .shop__items-description-priceold {
        font-size: 13px;
    }

    .shop__items-description-pricecurrent {
        font-size: calc(1vw + 10px);
    }

    .shop__items-description-btn {
        font-size: calc(0.4vw + 10px);
    }


    .popup {
        top: 10%;
        left: 14%;
        right: 6%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends__container_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .trends__container-posts {
        width: 50%;
        padding: 96px 20px 14px 18px;
    }

    .trends__container-posts:nth-child(2n+1) {
        width: calc(50% - 3px);
    }

    .trends__container-posts:nth-child(2n+1) {
        margin-right: 3px;
    }

    .trendone .trends__container-posts-items {
        padding: 20px 12.6% 60px 20px;
    }

    .trendtwo .trends__container-posts-items {
        padding: 20px 17.6% 20px 20px;
    }

    .trendtwo .trends__container-posts-items .trends__container-posts-items-category-title {
        margin-top: 12px;
    }

    .trendthree .trends__container-posts-items {
        padding: 25px 17.6% 30px 20px;
    }

    .trendthree .trends__container-posts-items .trends__container-posts-items-category-title {
        margin-top: 20px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trends__container_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .trends__container-posts {
        width: 50%;
        padding: 96px 20px 14px 18px;
    }

    .trends__container-posts:nth-child(2n+1) {
        width: calc(50% - 3px);
    }

    .trends__container-posts:nth-child(2n+1) {
        margin-right: 3px;
    }

    .trendone .trends__container-posts-items {
        padding: 20px 17.6% 60px 20px;
    }

    .trendtwo .trends__container-posts-items {
        padding: 20px 17.6% 20px 20px;
    }

    .trendtwo .trends__container-posts-items .trends__container-posts-items-category-title {
        margin-top: 15px;
    }

    .trendthree .trends__container-posts-items {
        padding: 25px 17.6% 30px 20px;
    }

    .trendthree .trends__container-posts-items .trends__container-posts-items-category-title {
        margin-top: 20px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trends__container_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .trends__container-posts {
        width: calc(25% - 3px);
        padding: 96px 10px 14px 10px;
    }

    .trends__container-posts {
        margin-right: 3px;
    }

    .trendone .trends__container-posts-items {
        padding: 20px 5% 58px 12px;
    }

    .trendtwo .trends__container-posts-items {
        padding: 20px 17.6% 20px 20px;
    }

    .trendtwo .trends__container-posts-items .trends__container-posts-items-category-title {
        margin-top: 15px;
    }

    .trendthree .trends__container-posts-items {
        padding: 25px 17.6% 50px 20px;
    }

    .trendthree .trends__container-posts-items .trends__container-posts-items-category-title {
        margin-top: 20px;
    }

    .trends__container-posts-items-category-title {
        font-size: 1rem;
    }
}


@media (min-width: 1200px) {
    .header {
        background-image: url("../img/banner-bg.jpg");
        background-position: center top;

        height: 100%;
        padding-bottom: 150px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 0;
        padding-right: 0;
    }

    .header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo__img {
        margin-top: 20px;
        margin-bottom: 125px;
    }

    .logo__img img {
        height: 30px;
    }

    .menu {
        align-self: flex-start;
    }

    .menu__burger-btn {
        display: none;
    }

    .menu__list {
        display: flex;

        position: relative;
        top: 25px;
        right: 0;
        transform: translateY(0);

        font-size: 13px;
    }

    .menu__list-item {
        margin-right: 0;
    }

    .menu__list-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
    }

    .header__title {
        font-size: 45px;
        line-height: 75px;

        width: 75%;
    }


    .trends__title {
        font-size: 1.25rem;
    }

    .trends__container_wrapper {
        display: flex;
        gap: 3px;
    }

    .trends__container-posts {
        width: 25%;
        margin-bottom: 0;
        padding: 160px 20px 15px 20px;
        display: flex;
    }

    .trends__container-posts-items {
        flex-grow: 1;
    }

    .trendone .trends__container-posts-items {
        padding: 40px 25% 40px 8%;
    }

    .trendtwo .trends__container-posts-items {
        padding: 40px 11% 20px 8%;
    }

    .trendthree .trends__container-posts-items {
        padding: 40px 22% 10% 8%;
    }

    .trendfour .trends__container-posts-items {
        padding: 40px 10% 10% 8%;
    }

    .trends__container-posts-items-category-title {
        font-size: 1.25rem;
    }

    .content {
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .main__content {
        width: 64%;
        margin-right: 11%;
    }

    .main__content-posts {
        display: flex;
    }

    .main__content-posts-main-img {
        margin-right: 30px;
    }

    .main__content-posts-main-img img {
        width: 380px;
    }

    .main__content-posts-main-category-link-item a {
        margin-top: 0;
    }

    .main__content-posts-main-category-title h2 {
        font-size: 1.25rem;
    }


    .main__content-posts-main-news {
        border: none;
    }

    .titletwo {
        margin-top: 0;
    }

    .sidebar {
        width: 25%;
    }

    .shop__items_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .shop__items {
        width: calc(33% - 70px);
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    .shop__items:not(:last-child) {
        margin-right: 70px;
    }

    .shop__items-img {
        object-fit: cover;
        padding: 0 8% 0 6%;
        width: 100%;
    }

    .shop__items-img img {
        max-width: 94%;
    }

    .shop__items-description {
        max-width: 370px;
        width: 100%;
        flex-grow: 1;
    }

    .footer {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .popup {
        top: 10%;
        left: 33%;
        right: 30%;

        max-width: 400px;
        width: 100%;
    }

    .popup-title {
        margin-top: 0;
        padding-top: 40px;
    }

}